

mark{color: #ee2222;}

/* 테두리 둥글게 */
.borderRadius30{border-radius: 30px;}

/* 팝업 */
.popupArea{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); display: none; justify-content: center; align-items: center;}
.popupArea.active{display: flex;}
.popupArea > div{background-color: white; padding: 30px 35px; text-align: center;}
.popupArea > div strong{display: block; font-size: 20px; font-weight: 700; margin-bottom: 20px;}
.popupArea > div *:not(strong){font-size: 14px; font-weight: 500; line-height: 20px;}
.popupArea > div p{color: #bcbcbc;}
.popupArea > div p:last-of-type{margin-bottom: 20px;}


/* 로그인 페이지 */
.signPage{height: 100vh; display: flex; flex-direction: column; }
.signPage input{padding: 0 15px;}
.signPage input::placeholder{color: #d9d9d9;}
.signPage input[type="checkbox"]{display: none;}
.signPage input[type="checkbox"] + label{display: inline-flex; align-items: center; font-size: 14px; line-height: 0.5;}
.signPage input[type="checkbox"] + label::before{content: ''; width: 15px; height: 15px; border: 1px solid #d9d9d9; border-radius: 100%; margin-right: 5px; box-sizing: border-box;}
.signPage input[type="checkbox"]:checked + label::before{border: none; background: url('../images/chekc.png') no-repeat center / cover;}
.signPage input[type="radio"]{display: none;}
/* 해더 */

.signPage header{height: 90px;}
.signPage header h1{max-width: 1580px; margin: 0 auto; padding: 10px 0;}
.signPage header h1 img{width: 100%; max-width: 260px;}
/* 전체 공간 */
.signPage .signArea{flex: 1; background-color: #f5f5f5; display: flex; justify-content: center; padding: 50px 0;}
.signPage .signArea form{background-color: white; width: 580px; padding: 60px 75px; box-sizing: border-box;}
.signPage .signArea form fieldset{height: 100%; text-align: center;}
.signPage .signArea form fieldset{ margin-bottom: 40px;}
.signPage .signArea form fieldset legend{font-size: 39px; font-weight: 700;}
.signPage .signArea form fieldset legend + p{font-weight: 500; margin-top: 10px;}
/* 입력 영역 */
.signPage .signArea form fieldset .inputArea{text-align: left; margin-top: 40px;}
.signPage .signArea form fieldset .inputArea div{width: 100%; display: flex; flex-wrap: wrap; text-align: left;}
.signPage .signArea form fieldset .inputArea div.certificationBox{display: none;}
.signPage .signArea form fieldset .inputArea div.certificationBox.active{display: flex;}
.signPage .signArea form fieldset .inputArea div:not(:first-child){margin-top: 16px;}
.signPage .signArea form fieldset .inputArea div input{flex: 1; height: 50px; border: 1px solid #e9e9e9;  border-radius: 10px;}
.signPage .signArea form fieldset .inputArea div button{width: 120px; line-height: 50px; color: white; background-color: #1c1c1c; border-radius: 10px; margin-left: 10px;}
.signPage .signArea form fieldset .inputArea div div{flex: 1; position: relative;}
.signPage .signArea form fieldset .inputArea div div time{position: absolute; right: 18px; top: 0; height: 100%; display: flex; align-items: center; color: #ee2222;}
.signPage .signArea form fieldset .inputArea div p{display: none; font-size: 14px; color: #ee2222; margin-top: 6px;}
.signPage .signArea form fieldset .inputArea div p.active{display: block;}
.signPage .signArea form fieldset .inputArea > label{margin-top: 10px;}
/* 버튼 */
.signPage .signArea form fieldset .btnArea{display: flex; margin-top: 30px;}
.signPage .signArea form fieldset .btnArea :is(input , a){flex: 1; line-height: 50px; color: #fff; background-color: #d9d9d9; border-radius: 10px; border: none; padding: 0;}
.signPage .signArea form fieldset .btnArea :is(input , a).active{background-image: linear-gradient(to right, #f51515, #fc4516 49%, #f44a2f 71%, #f4582f);}
.signPage .signArea form fieldset .btnArea a{flex: 1; margin-right: 10px;}
/* 하단 링크 */
.signPage .signArea form fieldset > ul{display: flex; justify-content: center; margin-top: 20px;}
.signPage .signArea form fieldset > ul li a{color: #929292; padding: 0 10px;}
.signPage .signArea form fieldset > ul li:not(:last-child) a{border-right: 1px solid #e4e4e4;}
/* 이용약관 */
.signPage .signArea form fieldset .agreeArea{margin-top: 40px; text-align: left;}
.signPage .signArea form fieldset .agreeArea strong{display: block; font-size: 20px; font-weight: 700; padding-bottom: 9.5px; border-bottom: 1px solid #e9e9e9; margin-bottom: 15.5px;}
.signPage .signArea form fieldset .agreeArea > label{margin-bottom: 15px;}
.signPage .signArea form fieldset .agreeArea ul li{display: flex; justify-content: space-between; align-items: center;}
.signPage .signArea form fieldset .agreeArea ul li:not(:last-child){margin-bottom: 10px;}
.signPage .signArea form fieldset .agreeArea ul li input + label::before{order: -2;}
.signPage .signArea form fieldset .agreeArea ul li input + label::after{order: -1; margin-right: 5px;}
.signPage .signArea form fieldset .agreeArea ul li input[required] + label::after{content: '[필수]';}
.signPage .signArea form fieldset .agreeArea ul li input:not([required]) + label::after{content: '[선택]';}
.signPage .signArea form fieldset .agreeArea ul li button{font-size: 13px; color: #929292; text-decoration: underline;}