/* 리빙방 */
.livingPage header{position: relative; z-index: 10;}
.livingPage :is(.leftAside , .rightAside){position: relative;}
.livingPage :is(.leftAside , .rightAside) .asidePosition{height: 100%; display: flex; flex-direction: column; position: absolute;  top: 0;}
.livingPage .leftAside{width: 348px; display: flex; flex-direction: column;}
.livingPage .leftAside .asidePosition{right: 0;}
.livingPage .leftAside .asidePosition h2{font-size: 24px; font-weight: 700; padding: 30px 30px 0; margin-bottom: 20px;}
.livingPage .leftAside .asidePosition > div > strong{display: block; font-size: 14px; font-weight: 700; margin-bottom: 2px;}
.livingPage .leftAside .asidePosition > div ul li a .imgArea{background-color: #eeeeee; border-radius: 20px; overflow: hidden;}
.livingPage .leftAside .asidePosition > div ul li a div:nth-child(2){flex: 1;}
.livingPage .leftAside .asidePosition > div ul li a div:nth-child(2) strong{width: 100%;}

.livingPage .rightAside{width: 240px; display: flex; flex-direction: column;}
.livingPage .rightAside .asidePosition{left: 0;}
.livingPage .rightAside .asidePosition img{width: 100%; flex-shrink: 0;}
.livingPage .rightAside .asidePosition > div{flex: 1; padding: 20px 30px 40px; display: flex; flex-direction: column; justify-content: space-between}
.livingPage .rightAside .asidePosition > div > ul > li{ border: 1px solid #e9e9e9; border-radius: 10px; }
.livingPage .rightAside .asidePosition > div > ul > li button{font-size: 14px; font-weight: 500; text-align: left; width: 100%; line-height: 46px; padding: 0 15px; background-repeat: no-repeat; background-position: right 8px center; background-size: 24px;}
.livingPage .rightAside .asidePosition > div > ul > li:not(:last-child){margin-bottom: 8px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea > button{background-image: url('../images/icon-arrow-down.png');}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox{padding: 15px; border-top: 1px solid #e9e9e9; background-color: #fbfbfb;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox.scrollBox{max-height: 200px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox > p{font-size: 13px; color: #4d4d4d; margin-bottom: 10px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox > p b{font-weight: 500;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox ul li{display: flex; align-items: center; font-size: 13px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox ul li:not(:last-child){margin-bottom: 10px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox ul li .imgArea{min-width: 32px; width: 32px; min-height: 32px; border-radius: 13px; overflow: hidden; margin-right: 7px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox ul li .imgArea img{width: 100%;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox ul li strong{flex: 1;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox .expertArea{padding-bottom: 14.5px; border-bottom: 1px solid #e9e9e9; margin-bottom: 14.5px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox .expertArea li p{color: #929292; margin-left: 5px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox .expertArea li strong{line-height: 17.5px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.livingPage .rightAside .asidePosition > div > ul > li:not(.dropArea) button{background-image: url('../images/icon-arrow-right.png');}
.livingPage .rightAside .asidePosition > div .buttonArea{display: flex; justify-content: space-between;}
.livingPage .rightAside .asidePosition > div .buttonArea button{text-align: left; font-size: 13px; font-weight: 500; line-height: 39px; color: #929292; border-radius: 10px; padding: 0 12px; background-color: #f5f5f5; background-repeat: no-repeat; background-position: right 12px center;}
.livingPage .rightAside .asidePosition > div .buttonArea button:first-child{width: 37.22%; background-image: url('../images/icon-share.png'); background-size: 13px;}
.livingPage .rightAside .asidePosition > div .buttonArea button:last-child{width: 58.33%; background-image: url('../images/icon-out.png'); background-size: 17px;}



/* 셋팅 */
.settingPage :is(h3 , h4 , legend){font-size: 24px; font-weight: 700;}
.settingPage :is(h3 , h4 , legend) + *:not(p){margin-top: 22px;}
.settingPage :is(h3 , h4 , legend) + p{font-size: 14px; color: #929292; margin-top: 10px; margin-bottom: 22px;}
.settingPage .contentBox{padding: 30px;}
.settingPage .submit140{width: 140px; line-height: 42px;}
.settingPage .submit160{width: 160px; line-height: 42px;}
.settingPage .btn{min-width: 72px; font-size: 13px; color: white; line-height: 28px; text-align: center; border-radius: 100px; background-color: #ee2222; padding: 0 10px; box-sizing: border-box;}
.settingPage .btn:hover{background-color: black;}
.settingPage input:is([type="text"] , [type="number"]){height: 46px;}
.settingPage :is(input[type="text"] , textarea){font-size: 14px; font-weight: 400;}
.settingPage :is(input:is([type="text"] , [type="number"]) , textarea){padding: 13px 15px; box-sizing: border-box;}
.settingPage input[type="number"]::-webkit-outer-spin-button,
.settingPage input[type="number"]::-webkit-inner-spin-button{-webkit-appearance: none;}
.settingPage input[type="radio"] + label{cursor: pointer;}

/* 프로필 */
.settingPage .profilePage section{width: 580px; display: flex; flex-wrap: wrap; gap: 30px;}
.settingPage .profilePage section .contentBox b{display: block; font-size: 12px; font-weight: 700; margin-bottom: 7px; padding-top: 5px;}
.settingPage .profilePage section .contentBox .grayBG{line-height: 28px; background-color: #eeeeee; border-radius: 100px;}
.settingPage .profilePage section .contentBox > button{position: absolute; right: 30px; top: 27px;}
.settingPage .profilePage section .profileArea{width: 100%; display: flex; flex-wrap: wrap; align-items: center; position: relative;}
.settingPage .profilePage section .profileArea :is(h3 , .messageArea){width: 100%;}
.settingPage .profilePage section .profileArea :is(.imgArea , > p){margin-bottom: 25px;}
.settingPage .profilePage section .profileArea .imgArea{width: 83px; margin-right: 15px; position: relative;}
.settingPage .profilePage section .profileArea .imgArea img{width: 100%; border-radius: 30px;}
.settingPage .profilePage section .profileArea .imgArea button{position: absolute; right: -8px; bottom: 0; width: 32px; height: 32px; background: white url('../images/icon-update.png') no-repeat center / 18px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); border-radius: 100%; text-indent: -9999px;} 
.settingPage .profilePage section .profileArea > p{font-size: 20px; font-weight: 700; line-height: 29px;}
.settingPage .profilePage section .profileArea .messageArea p{font-size: 14px; line-height: 20px;}
.settingPage .profilePage section .profileArea .popupArea > div{width: 425px;}
.settingPage .profilePage section .profileArea .popupArea > div form fieldset{text-align: left; margin-bottom: 42px;}
.settingPage .profilePage section .profileArea .popupArea > div form fieldset ul li:not(:last-child){margin-bottom: 16px;}
.settingPage .profilePage section .profileArea .popupArea > div form fieldset ul li label{display: block; margin-bottom: 5px;}
.settingPage .profilePage section .profileArea .popupArea > div form fieldset ul li :is(input , textarea){width: 100%;}
.settingPage .profilePage section .profileArea .popupArea > div form fieldset ul li textarea{height: 86px;}
.settingPage .profilePage section > :not(.profileArea){width: calc((100% - 30px) / 2);}
.settingPage .profilePage section .membershipArea div:not(:last-of-type){margin-bottom: 15px;}
.settingPage .profilePage section .membershipArea div p{font-size: 15px; margin-bottom: 5px;}
.settingPage .profilePage section .membershipArea div p strong{display: inline-block; font-size: 13px; font-weight: 700; margin-right: 5px; padding: 0 10px;}
.settingPage .profilePage section .membershipArea div p:has(strong){display: flex; align-items: center;}
.settingPage .profilePage section .membershipArea div span{display: block; font-size: 12px; color: #929292; line-height: 17px;}
.settingPage .profilePage section .membershipArea .extraArea{display: flex; flex-wrap: wrap;}
.settingPage .profilePage section .membershipArea .extraArea b{width: 100%;}
.settingPage .profilePage section .membershipArea .extraArea p{padding: 0 16px;}
.settingPage .profilePage section .membershipArea .extraArea p:not(:last-of-type){margin-right: 5px;}
.settingPage .profilePage section .balanceArea{position: relative;}
.settingPage .profilePage section .balanceArea mark{display: block; font-size: 24px; font-weight: 700; letter-spacing: -1px; padding-top: 5px;}
.settingPage .profilePage section .balanceArea mark::after{content: '개'; font-weight: 400;}

/* 알람 */
.settingPage .alramPage .contentBox{width: 460px; text-align: center;}
.settingPage .alramPage .contentBox fieldset{text-align: left; margin-bottom: 20px;}
.settingPage .alramPage .contentBox fieldset ul li:not(:last-child){margin-bottom: 15px;}

/* 돈풍선 충전 / 내역 */
.settingPage .historyPage section{width: 750px;}
.settingPage .historyPage section > div:not(:last-of-type){margin-bottom: 30px;}
.settingPage .historyPage section .moneyArea > div{display: flex; justify-content: space-between; align-items: flex-end;}
.settingPage .historyPage section .moneyArea > div mark{font-size: 36px; font-weight: 700; display: flex; align-items: center;}
.settingPage .historyPage section .moneyArea > div mark::after{content: '개'; font-size: 26px; font-weight: 400; margin-top: 5px;}
/* 돈풍선 충전 / 내역 - 게시판 공통 */
/* 기간 */
.settingPage .historyPage section > div:not(.moneyArea){position: relative;}
.settingPage .historyPage section > div:not(.moneyArea) > div:not([class]){position: absolute; right: 30px; top: 30px; display: flex; align-items: center;}
.settingPage .historyPage section > div:not(.moneyArea) > div:not([class]) input{display: none;}
.settingPage .historyPage section > div:not(.moneyArea) > div:not([class]) :is(select , label){font-size: 13px; line-height: 28px;; border: 1px solid #e9e9e9; border-radius: 5px; background-repeat: no-repeat; background-position: center right 8px; background-size: 16px;}
.settingPage .historyPage section > div:not(.moneyArea) > div:not([class]) select{width: 73px; padding: 0 12px; background-image: url('../images/icon-arrow-down.png'); margin-right: 5px;}
.settingPage .historyPage section > div:not(.moneyArea) > div:not([class]) label{width: 110px; color: #d9d9d9; padding: 0 10px; box-sizing: border-box; background-image: url('../images/icon-calendar.png');}
.settingPage .historyPage section > div:not(.moneyArea) > div:not([class]) span{font-size: 13px; color: #d9d9d9; margin: 0 5px;}
.settingPage .historyPage section > div:not(.moneyArea) > div:not([class]) button{margin-left: 10px;}
/* 돈풍선 충전 / 내역 - 게시판 공통 제목 */
.settingPage section [class|="board"]{font-size: 14px; }
.settingPage section [class|="board"] .boardTitle{background-color: #eeeeee; border-radius: 10px;}
.settingPage section [class|="board"] .boardTitle b{font-weight: 500;}
/* 돈풍선 충전 / 내역 - 게시판 공통 내용 */
.settingPage section [class|="board"] ul li{display: flex; border-bottom: 1px solid #eeeeee;}
/* 돈풍선 충전 / 내역 - 게시판 공통 제목 , 내용 공통 */
.settingPage section [class|="board"] :is(.boardTitle , ul li){display: flex; justify-content: space-between; align-items: center; padding: 0 5.1948%;}
.settingPage section [class|="board"] :is(.boardTitle , ul li) *{box-sizing: border-box;}
.settingPage section :is([class|="board"] .boardTitle ,[class|="board"]:not(.board-gift) ul li){height: 48px;}
/* 돈풍선 충전 / 내역 - 게시판 공통 페이저 */
.settingPage section [class|="board"] .pagerArea{display: flex; justify-content: center; align-items: center; margin-top: 20px;}
.settingPage section [class|="board"] .pagerArea > a{width: 20px; height: 20px; background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -9999px;} 
.settingPage section [class|="board"] .pagerArea > a:nth-of-type(1){background-image: url('../images/icon-prev.png');}
.settingPage section [class|="board"] .pagerArea > a:nth-of-type(2){background-image: url('../images/icon-next.png');}
.settingPage section [class|="board"] .pagerArea ol{display: flex; align-items: center; margin: 0 60px;}
.settingPage section [class|="board"] .pagerArea ol li a{display: block; font-weight: 700; color: #bcbcbc; line-height: 20px; padding: 0 10px;}
.settingPage section [class|="board"] .pagerArea ol li:is(:hover , .active) a{color: black;}
/* 돈풍선 충전 / 내역 - 충전 내역*/
.settingPage .historyPage section .board-charge :is(.boardTitle , ul li) > *:nth-child(2n + 1){text-align: center;}
.settingPage .historyPage section .board-charge :is(.boardTitle , ul li) > *:nth-child(2n){text-align: right;}
.settingPage .historyPage section .board-charge :is(.boardTitle , ul li) > *:nth-child(1){width: 19.5%;}
.settingPage .historyPage section .board-charge :is(.boardTitle , ul li) > *:nth-child(2){width: 18%;}
.settingPage .historyPage section .board-charge :is(.boardTitle , ul li) > *:nth-child(3){width: 15%;}
.settingPage .historyPage section .board-charge :is(.boardTitle , ul li) > *:nth-child(4){width: 19%;}
.settingPage .historyPage section .board-charge ul li *:nth-child(2){color: #ee2222;}
.settingPage .historyPage section .board-charge ul li *:nth-child(2)::before{content: '+';}
.settingPage .historyPage section .board-charge ul li *:nth-child(2)::after{content: '개';}
/* 돈풍선 충전 / 내역 - 선물 내역*/
.settingPage .historyPage section .board-gift ul li{height: 65px;}
.settingPage .historyPage section .board-gift :is(.boardTitle , ul li) > *:nth-child(1){width: 19.5%; text-align: center;}
.settingPage .historyPage section .board-gift :is(.boardTitle , ul li) > *:nth-child(2){width: 18%; text-align: right;}
.settingPage .historyPage section .board-gift :is(.boardTitle , ul li) > *:nth-child(3){width: 44%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.settingPage .historyPage section .board-gift :is(.boardTitle , ul li) > *:nth-child(3) span{display: block; font-size: 12px; color: #929292; margin-top: 5px;}
.settingPage .historyPage section .board-gift ul li > *:nth-child(2){color: #2c75d4;}
.settingPage .historyPage section .board-gift ul li > *:nth-child(2)::before{content: '-';}
.settingPage .historyPage section .board-gift ul li > *:nth-child(2)::after{content: '개';}
/* 돈풍선 충전 / 내역 - 사용 내역*/
.settingPage .historyPage section .board-use :is(.boardTitle , ul li) > *{text-align: center;}
.settingPage .historyPage section .board-use :is(.boardTitle , ul li) > *:nth-child(1){width: 19.5%;}
.settingPage .historyPage section .board-use :is(.boardTitle , ul li) > *:nth-child(2){width: 5%;}
.settingPage .historyPage section .board-use :is(.boardTitle , ul li) > *:nth-child(3){width: 42%;}
.settingPage .historyPage section .board-use :is(.boardTitle , ul li) > *:nth-child(4){width: 20%;}
.settingPage .historyPage section .board-use ul li.use > *:nth-child(2n){color: #ee2222;}
.settingPage .historyPage section .board-use ul li.use > *:nth-child(4)::before{content: '+';}
.settingPage .historyPage section .board-use ul li.use > *:nth-child(4)::after{content: '개';}
.settingPage .historyPage section .board-use ul li.charge > *:nth-child(4){color: #2c75d4;}
.settingPage .historyPage section .board-use ul li.charge > *:nth-child(4)::before{content: '-';}
.settingPage .historyPage section .board-use ul li.charge > *:nth-child(4)::after{content: '개';}
/* 돈풍선 충전 / 내역 - 팝업 */
.settingPage .historyPage .popupArea > div{width: 425px;}
.settingPage .historyPage .popupArea > div form fieldset{text-align: right;}
.settingPage .historyPage .popupArea > div form fieldset ul li ol{display: flex; flex-wrap: wrap; gap: 8px; padding-bottom: 15.5px; border-bottom: 1px solid #e9e9e9; margin-bottom: 15.5px;}
.settingPage .historyPage .popupArea > div form fieldset ul li ol li{width: calc((100% - 8px) / 2);}
.settingPage .historyPage .popupArea > div form fieldset ul li ol li input[type="radio"]{display: none;}
.settingPage .historyPage .popupArea > div form fieldset ul li ol li label{display: block; line-height: 62px; padding: 0 10px; border: 1px solid #e9e9e9; border-radius: 10px;}
.settingPage .historyPage .popupArea > div form fieldset ul li ol li:not(:last-child) label{ font-size: 24px; font-weight: 700; }
.settingPage .historyPage .popupArea > div form fieldset ul li ol li:not(:last-child) label::after{content: '개'; font-size: 16px; font-weight: 400;}
.settingPage .historyPage .popupArea > div form fieldset ul li ol li label{font-weight: 400;}
.settingPage .historyPage .popupArea > div form fieldset ul li ol li input[type="radio"]:checked + label{border-color: #ee2222; background: url('../images/chekc.png') no-repeat left 12px center / 22px;}
.settingPage .historyPage .popupArea > div form fieldset ul{margin-bottom: 20px;}
.settingPage .historyPage .popupArea > div form fieldset ul > li:not(:first-child){display: flex; justify-content: space-between; align-items: center; font-weight: 400;}
.settingPage .historyPage .popupArea > div form fieldset ul > li:not(:first-child , :last-child){margin-bottom: 10px;}
.settingPage .historyPage .popupArea > div form fieldset ul > li:not(:first-child) label{font-size: 14px;}
.settingPage .historyPage .popupArea > div form fieldset ul > li input[type="number"]{width: 284px; font-size: 22px; font-weight: 700; text-align: right;}
.settingPage .historyPage .popupArea > div form fieldset ul > li input[type="number"]::placeholder{font-size: 14px; font-weight: 400; transform: translateY(-3px);}
.settingPage .historyPage .popupArea > div form fieldset ul > li mark{padding: 13px 0;}
.settingPage .historyPage .popupArea > div form fieldset ul > li button{font-size: 13px; color: #929292; text-decoration: underline;}

/* 간편 결제 정보 */
.settingPage .paymentPage section{width: 977px; position: relative;}
.settingPage .paymentPage section .slider{display: flex; gap: 16px;}
.settingPage .paymentPage section .slider li{width: 270px; height: 150px; border-radius: 20px;}
.settingPage .paymentPage section .slider li:not(:last-child){display: flex; flex-direction: column; justify-content: center; color: white; padding: 25px; box-sizing: border-box;  background-image: linear-gradient(118deg, #f51515 5%, #fc4516 50%, #f44a2f 70%, #f4582f 96%);}
.settingPage .paymentPage section .slider li:not(:last-child) p{font-size: 14px; margin-bottom: 10px;}
.settingPage .paymentPage section .slider li:not(:last-child) strong{font-size: 20px; font-weight: 500; margin-bottom: 20px;}
.settingPage .paymentPage section .slider li:not(:last-child) button{width: 48px; line-height: 28px; font-size: 13px; background-color: rgba(255, 255, 255, 0.2); border: 1px solid white; border-radius: 100px; box-sizing: border-box;}
.settingPage .paymentPage section .slider li:not(:last-child) button:hover{color: #ee2222; background-color: white; border: none;}
.settingPage .paymentPage section .slider li:last-child{border: 1px dashed #e9e9e9; overflow: hidden;}
.settingPage .paymentPage section .slider li:last-child button{width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: 14px; color: #bcbcbc; background-color: #fbfbfb;}
.settingPage .paymentPage section .slider li:last-child button::before{content: ''; width: 34px; height: 34px; background: url('../images/icon-plus.png') no-repeat center / cover; margin-bottom: 10px;}
.settingPage .paymentPage section .btnArea{position: absolute; right: 30px; top: 30px; display: flex; gap: 5px;}

/* 전문가 추가/변경 신청 */
.settingPage .expertPage section{width: 424px;}
.settingPage .expertPage section > p{line-height: 20px;}
.settingPage .expertPage section form fieldset ul{margin-bottom: 20px;}
.settingPage .expertPage section form fieldset ul li:not(:last-child){margin-bottom: 20px;}
.settingPage .expertPage section form fieldset ul li:first-child{display: flex; flex-wrap: wrap; gap: 0 5px;}
.settingPage .expertPage section form fieldset ul li:first-child input[type="radio"]{display: none;}
.settingPage .expertPage section form fieldset ul li:first-child input[type="radio"] + label{width: 87px; line-height: 28px; font-size: 13px; color: #929292; text-align: center; border: 1px solid #929292; border-radius: 100px; margin-bottom: 20px;}
.settingPage .expertPage section form fieldset ul li:first-child input[type="radio"]:checked + label{color: white; background-color: #ee2222; border: none;}
.settingPage .expertPage section form fieldset ul li:first-child input[type="radio"]#expertFurther:checked ~ div > label:first-child::before{content: '리딩';}
.settingPage .expertPage section form fieldset ul li:first-child input[type="radio"]#expertChange:checked ~ div > label:first-child::before{content: '변경';}
.settingPage .expertPage section form fieldset ul li:first-child > div{width: 100%;}
.settingPage .expertPage section form fieldset ul li :is(label , strong):first-child{display: block; font-size: 14px; font-weight: 700; margin-bottom: 10px;}
.settingPage .expertPage section form fieldset ul li .searchArea{border: 1px solid #e9e9e9; border-radius: 10px;}
.settingPage .expertPage section form fieldset ul li .searchArea .inputArea{position: relative;}
.settingPage .expertPage section form fieldset ul li .searchArea .inputArea input{width: 100%; border: none; outline: none;}
.settingPage .expertPage section form fieldset ul li .searchArea .inputArea button{position: absolute; right: 8px; top: 0; width: 24px; height: 100%; background: url('../images/icon-search.png') no-repeat left center / contain; text-indent: -9999px;}
.settingPage .expertPage section form fieldset ul li .searchArea .scrollBox{display: none; max-height: 200px; font-size: 13px; padding: 0px 15px; background-color: #fbfbfb; border-top: 1px solid #e9e9e9;}
.settingPage .expertPage section form fieldset ul li .searchArea .scrollBox.active{display: block;}
.settingPage .expertPage section form fieldset ul li .searchArea .scrollBox > p{line-height: 49px; margin-bottom: 7.5px; border-bottom: 1px solid #e9e9e9;}
.settingPage .expertPage section form fieldset ul li .searchArea .scrollBox > div{padding: 7.5px 0;}
.settingPage .expertPage section form fieldset ul li .searchArea .scrollBox > div :is(b,button){display: block;}
.settingPage .expertPage section form fieldset ul li .searchArea .scrollBox > div b{font-weight: 700; margin-bottom: 7.5px;}
.settingPage .expertPage section form fieldset ul li .searchArea .scrollBox > div button{width: 100%; padding: 7.5px 0; text-align: left;}
.settingPage .expertPage section form fieldset ul li .searchArea .scrollBox > div button::after{content: '전문가'; color: #929292; margin-left: 10px;}
.settingPage .expertPage section form fieldset ul li input[type="checkbox"] + label{display: flex; margin-bottom: 10px;}
.settingPage .expertPage section form fieldset ul li textarea{width: 100%; height: 105px; font-size: 14px;}
.settingPage .expertPage form input[type="submit"]{display: block; margin: 0 auto;}

/* 이용약관 */
.settingPage .termsPage section{width: 753px; height: 100%; display: flex; flex-direction: column; gap: 30px;}
.settingPage .termsPage section .contentBox{flex: 1; min-height: 1%; max-height: 450px; padding: 30px 0; display: flex; flex-direction: column;}
.settingPage .termsPage section .contentBox h3{padding: 0 30px;}
.settingPage .termsPage section .contentBox .scrollBox{flex: 1; padding: 0 30px; font-size: 14px; line-height: 22px;}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type] li::before{display: inline-block; margin-right: 4px;}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type="article"] > li{counter-increment: articleList;}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type="parentheses"] > li{counter-increment: parenthesesList;}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type="one"] > li{counter-increment: oneList;}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type="normal"] > li{counter-increment: normalList;}
.settingPage .termsPage section .contentBox .scrollBox.privacyPolicy > ol{margin-top: 30px;}
.settingPage .termsPage section .contentBox .scrollBox.privacyPolicy ol[data-type="article"] > li::before{content: '제' counter(articleList) '조';}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type="article"] > li:not(:last-child){margin-bottom: 30px;}
.settingPage .termsPage section .contentBox .scrollBox.privacyPolicy ol[data-type="parentheses"] > li{counter-increment: parenthesesList;}
.settingPage .termsPage section .contentBox .scrollBox.privacyPolicy ol[data-type="parentheses"] > li:not(:last-child){margin-bottom: 30px;}
.settingPage .termsPage section .contentBox .scrollBox.privacyPolicy ol[data-type="parentheses"] > li::before{content: '(' counter(parenthesesList) ')';}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type="one"] > li::before{content: counter(oneList); font-size: 0.5em; width: 1.7em; line-height: 1.7em; text-align: center; border: 1px solid rgba(0, 0, 0, 0.5); border-radius: 100%;}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type="normal"] > li::before{content: counter(normalList) '.'; }
.settingPage .termsPage section .contentBox .scrollBox.privacyPolicy ul{padding: 0;}
.settingPage .termsPage section .contentBox .scrollBox.privacyPolicy ul li::before{content: '-';}
.settingPage .termsPage section .contentBox .scrollBox.termsOfService ol[data-type="article"] > li::before{display: block; content: '제' counter(articleList) '조(' attr(title) ')';}

/* 쿠폰 내역 */
.settingPage .couponPage section{width: 627px;}
.settingPage .couponPage section .board-coupon :is(.boardTitle , ul li) > *:not(button){text-align: center;}
.settingPage .couponPage section .board-coupon :is(.boardTitle , ul li) > *:nth-child(1){width: 22%;}
.settingPage .couponPage section .board-coupon :is(.boardTitle , ul li) > *:nth-child(2){width: 14%;}
.settingPage .couponPage section .board-coupon :is(.boardTitle , ul li) > *:nth-child(3){width: 31%;}
.settingPage .couponPage section .board-coupon ul li.unavailable > p:nth-child(2){color: #ee2222;}

/* 로그인 설정 */
.settingPage .loginPage form{width: 460px;}
.settingPage .loginPage form{text-align: center;}
.settingPage .loginPage form fieldset{text-align: left;}
.settingPage .loginPage form fieldset ul{margin-bottom: 20px;}
.settingPage .loginPage form fieldset > ul > li:not(:last-child){margin-bottom: 20px;}
.settingPage .loginPage form fieldset > ul > li > p{font-size: 13px; color: #929292; line-height: 18px; margin-top: 5px;}
.settingPage .loginPage form fieldset > ul > li:nth-child(2){display: flex; justify-content: space-between; align-items: center;}
.settingPage .loginPage form fieldset > ul > li:nth-child(2) > b{font-size: 15px; font-weight: 500;}
.settingPage .loginPage form fieldset > ul > li:nth-child(2) > button{width: 56px; line-height: 28px; font-size: 14px; font-weight: 500; background-color: #eeeeee; border-radius: 100px;}
.settingPage .loginPage form fieldset > ul > li .popupArea div{width: 424px; box-sizing: border-box;}
.settingPage .loginPage form fieldset > ul > li .popupArea div ul{text-align: left;}
.settingPage .loginPage form fieldset > ul > li .popupArea div ul li:not(:last-child){margin-bottom: 16px;}
.settingPage .loginPage form fieldset > ul > li .popupArea div ul li label{display: block; margin-bottom: 5px;}
.settingPage .loginPage form fieldset > ul > li .popupArea div ul li input{width: 100%;}

