/* 리빙방 */
.livingPage{overflow: hidden;}
.livingPage .errorText{font-size: 12px;}
.livingPage header{position: relative; z-index: 10;}
.livingPage :is(.leftAside , .rightAside){position: relative; transition: width 0.5s;}
.livingPage :is(.leftAside , .rightAside) > button{position: absolute; top: 30px; width: 36px; height: 36px; border-radius: 100%;  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.1); background-color: white; background-repeat: no-repeat; background-position: center; background-size: cover; z-index: 5; font-size: 10px; color: transparent;}
.livingPage .leftAside > button{right: -18px; background-image: url('../images/icon-arrow-right.png'); transform: rotate(180deg);}
.livingPage .rightAside > button{left: -18px; background-image: url('../images/icon-arrow-right.png');}
.livingPage :is(.leftAside , .rightAside) .asidePosition{height: 100%; display: flex; flex-direction: column; position: absolute;  top: 0;}
.livingPage :is(.leftAside , .rightAside).active{width: 22px;}
.livingPage .leftAside.active .asidePosition > div{overflow: hidden;}
.livingPage .leftAside{width: 348px; display: flex; flex-direction: column;}
.livingPage .leftAside .asidePosition{right: 0; width: 348px;}
.livingPage .leftAside .asidePosition h2{font-size: 24px; font-weight: 700; padding: 30px 30px 0; margin-bottom: 20px;}
.livingPage .leftAside .asidePosition > div > strong{display: block; font-size: 14px; font-weight: 700; margin-bottom: 2px;}
.livingPage .leftAside .asidePosition > div ul li a .imgArea{background-color: #eeeeee; border-radius: 20px; overflow: hidden;}
.livingPage .leftAside .asidePosition > div ul li a div:nth-child(2){flex: 1;}
.livingPage .leftAside .asidePosition > div ul li a div:nth-child(2) strong{width: 100%;}
.livingPage .leftAside .asidePosition > div ul li a div:nth-child(3) span{margin-top: 3px;}

.livingPage .rightAside{width: 240px; display: flex; flex-direction: column;}
.livingPage .rightAside .asidePosition{left: 0; width: 240px;}
.livingPage .rightAside .asidePosition img{width: 100%; flex-shrink: 0;}
.livingPage .rightAside .asidePosition > div{flex: 1; padding: 20px 30px 40px; display: flex; flex-direction: column; justify-content: space-between}
.livingPage .rightAside .asidePosition > div > ul > li{ border: 1px solid #e9e9e9; border-radius: 10px; }
.livingPage .rightAside .asidePosition > div > ul > li > button{font-size: 14px; font-weight: 500; text-align: left; width: 100%; line-height: 46px; padding: 0 15px; background-repeat: no-repeat; background-position: right 8px center; background-size: 24px;}
.livingPage .rightAside .asidePosition > div > ul > li:hover > button{background-color: #fff9f9;}
.livingPage .rightAside .asidePosition > div > ul > li:not(:last-child){margin-bottom: 8px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea > button{background-image: url('../images/icon-arrow-down.png');}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox{padding: 15px; border-top: 1px solid #e9e9e9; background-color: #fbfbfb;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox.scrollBox{max-height: 200px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox > p{font-size: 13px; color: #4d4d4d; margin-bottom: 10px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox > p b{font-weight: 500;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox ul li{display: flex; align-items: center; font-size: 13px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox ul li:not(:last-child){margin-bottom: 10px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox ul li .imgArea{min-width: 32px; width: 32px; min-height: 32px; border-radius: 13px; overflow: hidden; margin-right: 7px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox ul li .imgArea img{width: 100%;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox ul li strong{flex: 1;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox .expertArea{padding-bottom: 14.5px; border-bottom: 1px solid #e9e9e9; margin-bottom: 14.5px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox .expertArea li p{color: #929292; margin-left: 5px;}
.livingPage .rightAside .asidePosition > div > ul > li.dropArea .dropBox .expertArea li strong{line-height: 17.5px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.livingPage .rightAside .asidePosition > div > ul > li:not(.dropArea) > button{background-image: url('../images/icon-arrow-right.png');}
/* 하단 버튼 영역 */
.livingPage .rightAside .asidePosition > div .buttonArea{display: flex; justify-content: space-between; position: relative;}
.livingPage .rightAside .asidePosition > div .buttonArea > button{text-align: left; font-size: 13px; font-weight: 500; line-height: 39px; color: #929292; border-radius: 10px; padding: 0 12px; background-color: #f5f5f5; background-repeat: no-repeat; background-position: right 12px center;}
.livingPage .rightAside .asidePosition > div .buttonArea > button:first-of-type{width: 37.22%; background-image: url('../images/icon-share.png'); background-size: 13px;}
.livingPage .rightAside .asidePosition > div .buttonArea > button:last-of-type{width: 58.33%; background-image: url('../images/icon-out.png'); background-size: 17px;}
.livingPage .rightAside .asidePosition > div .buttonArea > button:hover{background-color: black; color: white;}
.livingPage .rightAside .asidePosition > div .buttonArea > button:first-of-type:hover{background-image: url('../images/icon-share-active.png');}
.livingPage .rightAside .asidePosition > div .buttonArea > button:last-of-type:hover{background-image: url('../images/icon-out-active.png');}
/* 공유하기 팝업 */
.livingPage .rightAside .asidePosition > div .buttonArea .popup-share{display: none; position: absolute; right: calc(100% - 19px); bottom: 18px; width: 606px; background-color: white; padding: 20px 30px 30px 20px; box-sizing: border-box; border-radius: 10px; box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.1);}
.livingPage .rightAside .asidePosition > div .buttonArea .popup-share.active{display: block;}
.livingPage .rightAside .asidePosition > div .buttonArea .popup-share strong{display: block; font-size: 14px; font-weight: 700; margin-bottom: 6px;}
.livingPage .rightAside .asidePosition > div .buttonArea .popup-share div{display: flex; align-items: center; font-size: 14px; border: 1px solid #e9e9e9; border-radius: 10px; padding: 7px 15px;}
.livingPage .rightAside .asidePosition > div .buttonArea .popup-share div p{flex: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.livingPage .rightAside .asidePosition > div .buttonArea .popup-share div button{width: 100px; color: white; line-height: 32px; text-align: center; background-color: black; border-radius: 100px; margin-left: 17px; flex-shrink: 0;}
/* 팝업 공통 */
.livingPage .rightAside .asidePosition > div > ul > li .popupArea > div{width: 736px; padding: 30px; box-sizing: border-box;}
.livingPage .rightAside .asidePosition > div > ul > li .popupArea > div .tabBtn li button{padding-top: 2px; padding-bottom: 2px;}
.livingPage .rightAside .asidePosition > div > ul > li .popupArea > div [class|="board"] :is(.boardTitle , ul li){padding: 0;}
.livingPage .rightAside .asidePosition > div > ul > li .popupArea > div [class|="board"] ul li{font-weight: 400;}
/* 지난 대화 내역 */
/* 보유 종목 현황 */
.livingPage .rightAside .asidePosition > div > ul > li.holdingItem .board-holdingItem :is(.boardTitle , ul li) > *:nth-child(1){width: 47.92%;}
.livingPage .rightAside .asidePosition > div > ul > li.holdingItem .board-holdingItem :is(.boardTitle , ul li) > *:nth-child(2){width: 26.04%;}
.livingPage .rightAside .asidePosition > div > ul > li.holdingItem .board-holdingItem :is(.boardTitle , ul li) > *:nth-child(3){width: 26.04%;}
/* 매수/매도 내역 */
/* 투자 내역 */
.livingPage .rightAside .asidePosition > div > ul > li.investmentDetails .popupArea > div .tabBtn{margin-bottom: 12px;}
.livingPage .rightAside .asidePosition > div > ul > li.investmentDetails .board-investmentDetails :is(.boardTitle , ul li){text-align: center;}
.livingPage .rightAside .asidePosition > div > ul > li.investmentDetails .board-investmentDetails :is(.boardTitle , ul li) > *:nth-child(1){width: 47.92%;}
.livingPage .rightAside .asidePosition > div > ul > li.investmentDetails .board-investmentDetails :is(.boardTitle , ul li) > *:nth-child(2){width: 3.84%;}
.livingPage .rightAside .asidePosition > div > ul > li.investmentDetails .board-investmentDetails :is(.boardTitle , ul li) > *:nth-child(3){width: 26.03%;}
.livingPage .rightAside .asidePosition > div > ul > li.investmentDetails .board-investmentDetails ul li[data-tab="revenue"] span{color: #ee2222;}
.livingPage .rightAside .asidePosition > div > ul > li.investmentDetails .board-investmentDetails ul li[data-tab="loss"] span{color: #2c75d4;}
/* 게시판 */
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div{overflow: hidden; padding-left: 0; padding-right: 0; padding-bottom: 0;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .tabBtn{padding: 0 30px; margin-bottom: 20px;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div [class|="content"]{display: none;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div [class|="content"].active{display: flex;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-board {flex-direction: column;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-board > .scrollBox-board{max-height: 630px;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-board > .scrollBox-board{padding: 0 20px;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-board > .scrollBox-board ul li a{display: flex; align-items: center;} 
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-board > .scrollBox-board ul li a .textArea{flex: 1; display: flex; flex-wrap: wrap;} 
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-board > .scrollBox-board ul li a .textArea strong{width: 100%; font-size: 14px; font-weight: 500; line-height: 18px; text-align: left; margin-bottom: 5px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-board > .scrollBox-board ul li a .textArea :is(p , time){font-size: 12px; color: #929292; font-weight: 400; line-height: 1;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-board > .scrollBox-board ul li a .textArea time{padding-right: 5px; border-right: 1px solid #e4e4e4; margin-right: 5px;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-board > .scrollBox-board ul li a .imgArea{width: 134px; height: 74px; border-radius: 10px; background-color: red; box-sizing: border-box; overflow: hidden; flex-shrink: 0; margin-left: 40px;} 
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-board > .scrollBox-board ul li a .imgArea img{width: 100%;} 
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-board > .pagerArea{padding-bottom: 40px;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-collect{text-align: left;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-collect .tabBtn-collect{width: 117px; flex-shrink: 0; background-color: #f5f5f5;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-collect .tabBtn-collect li button{width: 100%; font-size: 14px; line-height: 52px; text-align: left; padding: 0 30px;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-collect .tabBtn-collect li:is(.active , :hover) button{font-weight: 700; background-color: #e9e9e9;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-collect .tabContent-collect{max-height: 710px;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-collect .tabContent-collect{padding: 30px; box-sizing: border-box;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-collect .tabContent-collect > div{display: none;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-collect .tabContent-collect > div.active{display: block;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-collect .tabContent-collect > div time{display: block; font-size: 11px; color: #929292; margin-bottom: 14px;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-collect .tabContent-collect > div ul{display: flex; flex-wrap: wrap; gap: 14px;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-collect .tabContent-collect > div ul:not(:last-of-type){margin-bottom: 30px;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-collect .tabContent-collect > div li{width: calc((100% - 28px) / 3); height: 177px; border: 1px solid #929292; border-radius: 10px; overflow: hidden; box-sizing: border-box;}
.livingPage .rightAside .asidePosition > div > ul > li.boardArea .popupArea > div .content-collect .tabContent-collect > div li img{width: 100%;}
/* 전문가 추가/변경 신청 */
.livingPage .rightAside .asidePosition > div > ul > li.expertArea .popupArea > div .expertBox{text-align: left;}


/* 리빙 채팅 전체 틀*/
.livingPage .contentArea section{position: relative; height: 100%; display: flex; flex-direction: column; justify-content: flex-end; padding: 30px 24px; box-sizing: border-box;}
/* 리빙 채팅 상단 타이틀 */
.livingPage .contentArea section .titleArea{position: absolute; left: 0; top: 0; width: 100%; height: 147px; display: flex; flex-direction: column; justify-content: center; padding: 0 52px; background-color: #e9e9e9; backdrop-filter: blur(30px); box-sizing: border-box; z-index: 1; transition: background 0.5s;}
.livingPage .contentArea section .titleArea.blur{background-color: unset; -webkit-backdrop-filter: blur(30px); backdrop-filter: blur(30px);}
.livingPage .contentArea section .titleArea h3{font-size: 24px; font-weight: 700;}
.livingPage .contentArea section .titleArea p{font-size: 14px; color: #9d9d9d; margin-top: 12px;}
/* 리빙 채팅 상단 공지사항 */
.livingPage .contentArea section .titleArea > button{position: absolute; top: calc(100% + 12px); right: 30px; width: 46px; height: 46px; background: white url('../images/icon-notice-open.png') no-repeat center / 21px; border-radius: 100%;  text-indent: -9999px;  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.1);}
.livingPage .contentArea section .noticeArea{position: absolute; top: 100%; left: 0; width: 100%; display: none; flex-wrap: wrap; background-color: white; border: 1px solid #d9d9d9;}
.livingPage .contentArea section .noticeArea.active{display: flex;}
.livingPage .contentArea section .noticeArea p{width: 100%; font-size: 15px; color: #1c1c1c; line-height: 22px; display: flex; align-items: center; padding: 30px; border-bottom: 1px solid #d9d9d9;}
.livingPage .contentArea section .noticeArea p::before{content: ''; width: 26px; height: 24px; background: url('../images/icon-notice.png') no-repeat center / cover; margin-right: 15px; flex-shrink: 0;}
.livingPage .contentArea section .noticeArea button{flex: 1; font-size: 12px; line-height: 30px;}
.livingPage .contentArea section .noticeArea button:not(:last-of-type){border-right: 1px solid #d9d9d9;}

/* 리빙 채팅 하단 입력창 */
.livingPage .contentArea section > .inputArea{background-color: white; border-radius: 10px; padding: 12px 20px; border: 1px solid white; position: relative;}
.livingPage .contentArea section > .inputArea:has( > textarea:focus){border-color: black;}
.livingPage .contentArea section > .inputArea > textarea{width: 100%; font-size: 15px; line-height: 22px; padding: 0; border: none; background-color: transparent; outline: none;}
.livingPage .contentArea section > .inputArea .btnArea{display: flex;}
.livingPage .contentArea section > .inputArea .btnArea > button[class|="btn"]{width: 34px; height: 34px; background-position: center; background-size: cover; text-indent: -9999px;}
.livingPage .contentArea section > .inputArea .btnArea .btn-add{background-image: url('../images/icon-plus-circle.png'); margin-right: 4px;}
.livingPage .contentArea section > .inputArea .btnArea .btn-money{background-image: url('../images/icon-dollar-circle.png');}
.livingPage .contentArea section > .inputArea .btnArea .btn-add:hover{background-image: url('../images/icon-plus-circle-active.png');}
.livingPage .contentArea section > .inputArea .btnArea .btn-money:hover{background-image: url('../images/icon-dollar-circle-active.png');}
.livingPage .contentArea section > .inputArea .btnArea > button:not([class|="btn"]){margin-left: auto; font-size: 14px; font-weight: 500; color: white; background-color: black; width: 100px; line-height: 32px; border-radius: 100px;}
.livingPage .contentArea section > .inputArea .btnArea > button:not([class|="btn"]).active{background-color: #ee2222;}
/* 리빙 채팅 하단 입력창 - 돈풍선 선물 팝업 */
.livingPage .contentArea section .inputArea .popup-money{display: none; position: absolute; left: 0; bottom: 50px; width: 424px; background-color: white; padding: 30px; box-sizing: border-box; border-radius: 10px;  box-shadow: 0 6px 25px 0 rgba(0, 0, 0, 0.1);}
.livingPage .contentArea section .inputArea .popup-money.active{display: block;}
.livingPage .contentArea section .inputArea .popup-money > button{position: absolute; right: 27px; top: 27px; width: 14px; height: 14px; background: url('../images/icon-x.png') no-repeat center / cover; text-indent: -9999px;}
.livingPage .contentArea section .inputArea .popup-money form{text-align: center;}
.livingPage .contentArea section .inputArea .popup-money form fieldset legend{display: block; font-size: 20px; font-weight: 700; margin-bottom: 20px;}
.livingPage .contentArea section .inputArea .popup-money form fieldset ul{text-align: left; margin-bottom: 20px;}
.livingPage .contentArea section .inputArea .popup-money form fieldset ul li{position: relative;}
.livingPage .contentArea section .inputArea .popup-money form fieldset ul li:not(:last-child){margin-bottom: 20px;}
.livingPage .contentArea section .inputArea .popup-money form fieldset ul li b{display: block; font-size: 14px; font-weight: 700; line-height: 20px; margin-bottom: 6px;}
.livingPage .contentArea section .inputArea .popup-money form fieldset ul li b mark{display: block;}
.livingPage .contentArea section .inputArea .popup-money form fieldset ul li b mark::after{content: '개';}
.livingPage .contentArea section .inputArea .popup-money form fieldset ul li .searchArea .scrollBox{max-height: 185px;}
.livingPage .contentArea section .inputArea .popup-money form fieldset ul li > button{position: absolute; right: 0; top: 6px; width: 72px; font-size: 13px; color: white; text-align: center; line-height: 28px; border-radius: 100px; background-color: black;}
.livingPage .contentArea section .inputArea .popup-money form fieldset ul li > button:is(:hover , .active){background-color: #ee2222;}
.livingPage .contentArea section .inputArea .popup-money form fieldset ul li :is(input[type="number"] , textarea){width: 100%;}
.livingPage .contentArea section .inputArea .popup-money form fieldset ul li .numberArea{position: relative;}
.livingPage .contentArea section .inputArea .popup-money form fieldset ul li .numberArea::after{content: '개'; position: absolute; right: 15px; top: 0; height: 100%; display: flex; align-items: center;}
.livingPage .contentArea section .inputArea .popup-money form fieldset ul li .numberArea input[type="number"]{font-size: 14px; padding-right: 35px;}
.livingPage .contentArea section .inputArea .popup-money form fieldset ul li textarea{height: 86px;}
.livingPage .contentArea section .inputArea .popup-money div .scrollBox > div{padding: 15px 0;}



/* 리빙 채팅 메세지 */
.livingPage .contentArea section .chattingArea{overflow: auto; padding-top: 147px; padding-bottom: 20px;}
.livingPage .contentArea section .chattingArea::-webkit-scrollbar{width: 5px;}
.livingPage .contentArea section .chattingArea::-webkit-scrollbar-thumb{width: 5px; background-color: rgba(92, 92, 92, 0.3); border-radius: 100px;}
.livingPage .contentArea section .chattingArea > div > [data-type]{display: flex; align-items: flex-start; max-width: 60%;}
.livingPage .contentArea section .chattingArea > div > div:not(:last-of-type){margin-bottom: 20px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .profileImg{position: relative; width: 53px; height: 53px; margin-right: 9px; border-radius: 20px; line-height: 0;}
.livingPage .contentArea section .chattingArea > div > [data-type] .profileImg img{flex-shrink: 0;}
.livingPage .contentArea section .chattingArea > div > [data-type|="manager"] .profileImg::after{content: ''; position: absolute; right: -2px; bottom: -3px; width: 22px; height: 22px; background-position: center; background-size: cover;}
.livingPage .contentArea section .chattingArea > div > [data-type|="manager"] .profileImg img{width: 53px; height: 53px; border-radius: 20px; }
.livingPage .contentArea section .chattingArea > div > [data-type="manager-best"] .profileImg::after{background-image: url('../images/chatting-best.png');}
.livingPage .contentArea section .chattingArea > div > [data-type="manager-expert"] .profileImg::after{background-image: url('../images/chatting-expert.png');}
.livingPage .contentArea section .chattingArea > div > [data-type="user"] .profileImg{display: flex; justify-content: center; align-items: flex-end; overflow: hidden;}
.livingPage .contentArea section .chattingArea > div > [data-type="user"] .profileImg img{width: 43.4px; height: 38.2px; border-radius: 0;}
.livingPage .contentArea section .chattingArea > div > [data-type="user"][data-user="1"] .profileImg{background-color: #eeeeee;}
.livingPage .contentArea section .chattingArea > div > [data-type="user"][data-user="2"] .profileImg{background-color: #fff9e8;}
.livingPage .contentArea section .chattingArea > div > [data-type="user"][data-user="3"] .profileImg{background-color: #ffeee8;}
.livingPage .contentArea section .chattingArea > div > [data-type="user"][data-user="4"] .profileImg{background-color: #ffe8f2;}
.livingPage .contentArea section .chattingArea > div > [data-type="user"][data-user="5"] .profileImg{background-color: #f4e8ff;}
.livingPage .contentArea section .chattingArea > div > [data-type="user"][data-user="6"] .profileImg{background-color: #e8ecff;}
.livingPage .contentArea section .chattingArea > div > [data-type="user"][data-user="7"] .profileImg{background-color: #e8f3ff;}
.livingPage .contentArea section .chattingArea > div > [data-type="user"][data-user="8"] .profileImg{background-color: #e9ffe8;}
.livingPage .contentArea section .chattingArea > div > [data-type="user"][data-user="9"] .profileImg{background-color: #f3ffe8;}
.livingPage .contentArea section .chattingArea > div > [data-type="user"][data-user="10"] .profileImg{background-color: #e8ffff;}
.livingPage .contentArea section .chattingArea > div > [data-type="me"]{margin-left: auto; justify-content: flex-end; margin-right: 12px;}
.livingPage .contentArea section .chattingArea > div > [data-type="me"] .profileImg{display: none;}
.livingPage .contentArea section .chattingArea > div > [data-type="me"] .messageArea > p{display: none;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea{position: relative;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea > p{font-size: 13px; font-weight: 500; line-height: 19px; margin-bottom: 8px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea > p span{color: #929292;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea :is(.textBox , .imgBox div , .videoBox , .fileBox , .linkBox){border-radius: 10px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox{font-size: 15px; line-height: 22px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox{ padding: 12px 15px; box-sizing: border-box; position: relative; }
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox[data-type]{color: white;}
/* 배경 */
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox:not([data-type]){background-color: white;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox[data-type="sell"]{background-color: #ee2222;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox[data-type="buy"]{background-color: #2c75d4;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox[data-type="alarm"]{background-color: #ffa129;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox[data-type="secret"]{background-color: #929292;}
/* 말풍선 */
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox:first-of-type::after{content: ''; position: absolute;  top: -8px; width: 30px; height: 32px; background-repeat: repeat; background-position: center; background-size: cover;}
.livingPage .contentArea section .chattingArea > div > div:not([data-type="me"]) .messageArea .textBox:first-of-type::after{left: -12px;}
.livingPage .contentArea section .chattingArea > div > div[data-type="me"] .messageArea .textBox:first-of-type::after{right: -12px; transform: rotateY(180deg);}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox:not([data-type]){background-image: url('../images/chatting-message-normal.png');}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox[data-type="sell"]::after{background-image: url('../images/chatting-message-sell.png');}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox[data-type="buy"]::after{background-image: url('../images/chatting-message-buy.png');}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox[data-type="alarm"]::after{background-image: url('../images/chatting-message-alarm.png');}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox[data-type="secret"]::after{background-image: url('../images/chatting-message-secret.png')}
/*  */
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox:is([data-type="sell"] , [data-type="buy"] , [data-type="alarm"]){display: flex; align-items: center; }
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox:is([data-type="sell"] , [data-type="buy"] , [data-type="alarm"])::before{flex-shrink: 0;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox:is([data-type="sell"] , [data-type="buy"])::before{width: 41px; font-size: 16px; text-align: center; margin-right: 10px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox:is([data-type="sell"] , [data-type="buy"]) div{font-size: 15px; line-height: 22px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox:is([data-type="sell"] , [data-type="buy"]) div strong{display: block; font-weight: 700;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox:is([data-type="sell"] , [data-type="buy"]) div p::before{content: '▶ ';}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox[data-type="sell"]::before{content: '매수';}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox[data-type="buy"]::before{content: '매도';}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox[data-type="alarm"]::before{content: ''; width: 17px; height: 16px; background: url('../images/icon-alarm.png') no-repeat center / cover; margin-right: 15px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox[data-type="secret"]::before{content: 'To 'attr(data-to); display: block; font-size: 13px; color: rgba(255, 255, 255, 0.5); font-weight: 500; display: block; padding-left: 22px; background: url('../images/icon-secret.png') no-repeat left center / 14px; margin-bottom: 4px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox:not(:last-of-type){margin-bottom: 8px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .textBox{position: relative;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea time{font-size: 11px; color: #929292;}
.livingPage .contentArea section .chattingArea > div > [data-type]:not([data-type="me"]) .messageArea time{position: absolute; right: 0; bottom: 0; transform: translateX(calc(100% + 10px)); font-size: 11px; color: #929292;}
.livingPage .contentArea section .chattingArea > div > [data-type="me"] .messageArea time{position: absolute; left: 0; bottom: 0; transform: translateX(calc(-100% - 10px)); font-size: 11px; color: #929292;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea > .messageArea > time{position: absolute; right: 0; bottom: 0;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea:has(.imgBox , .videoBox){flex: 1;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .imgBox{display: flex; flex-wrap: wrap; gap: 2px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .imgBox div{flex: 1; min-width: calc((100% - 4px) / 3); max-height: 197px; line-height: 0; border: 1px solid black; box-sizing: border-box; overflow: hidden;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .imgBox div:only-of-type{max-height: 341px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .imgBox div img{width: 100%;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .videoBox{height: 314px; border: 1px solid black; overflow: hidden; position: relative;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .videoBox :is(video , iframe){width: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50% , -50%);}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox{min-height: 142px; display: flex; padding: 12px 16px; background-color: white; box-sizing: border-box;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox::after{content: ''; width: 84px; height: 84px; border-radius: 10px; background-color: #f5f5f5; background-repeat: no-repeat; background-position: center; background-size: 45px; flex-shrink: 0; margin-left: 18px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox[data-type="img"]::after{background-image: url('../images/file-img.png');}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox[data-type="document"]::after{background-image: url('../images/file-document.png');}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox[data-type="mp"]::after{background-image: url('../images/file-mp.png');}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox[data-type="compression"]::after{background-image: url('../images/file-compression.png');}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox > div{display: flex; flex-direction: column;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox > div p{font-size: 16px; font-weight: 700; line-height: 22px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox > div span:first-of-type{margin-top: 4px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox > div span{display: block; font-size: 12px; color: #929292; line-height: 18px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox > div span.validity::before{content: '유효기간 ~ ';}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox > div span.volume::before{content: '용량 : ';}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox > div .btnArea{margin-top: auto; display: flex;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox > div .btnArea button{font-size: 14px; line-height: 20px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox > div .btnArea button:hover{font-size: 14px; font-weight: 700;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .fileBox > div .btnArea button:not(:last-child){margin-right: 14px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .linkBox{width: 365px; min-height: 286px; background-color: white; display: flex; flex-direction: column; overflow: hidden;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .linkBox .thumbnail{height: 186px; position: relative; overflow: hidden;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .linkBox .thumbnail img{width: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50% , -50%);}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .linkBox .textArea{flex: 1; padding: 16px; display: flex; flex-direction: column;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .linkBox .textArea > *{line-height: 1;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .linkBox .textArea strong{font-size: 15px; font-weight: 500;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .linkBox .textArea span{font-size: 13px; color: #929292; margin-top: 6px;}
.livingPage .contentArea section .chattingArea > div > [data-type] .messageArea .linkBox .textArea a{margin-top: auto; width: 100%; font-size: 12px; color: #2c75d4; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

/* 리빙 채팅 돈풍선 */
.livingPage .contentArea section .chattingArea .moneyArea{background-color: white; padding: 20px 20px 20px 260px; border-radius: 10px; background-repeat: no-repeat; background-position: left 20px center; background-size: 220px;}
.livingPage .contentArea section .chattingArea .moneyArea span{display: block; font-size: 14px; color: #929292; font-weight: 500; margin-bottom: 7px;}
.livingPage .contentArea section .chattingArea .moneyArea strong{display: block; font-size: 20px; font-weight: 700; line-height: 28px; padding-bottom: 13.5px; margin-bottom: 13.5px;}
.livingPage .contentArea section .chattingArea .moneyArea p{color: #4d4d4d; line-height: 24px; padding-top: 11.5px; border-top: 1px solid #e9e9e9;}



/* 셋팅 */
.settingPage :is(h3 , h4 , legend){font-size: 24px; font-weight: 700;}
.settingPage :is(h3 , h4 , legend) + *:not(p){margin-top: 22px;}
.settingPage :is(h3 , h4 , legend) + p{font-size: 14px; color: #929292; margin-top: 10px; margin-bottom: 22px;}
.settingPage .contentBox{padding: 30px;}
:is(.settingPage , .livingPage) .submit140{width: 140px; line-height: 42px;}
:is(.settingPage , .livingPage) .submit160{width: 160px; line-height: 42px;}
.settingPage .btn{min-width: 72px; font-size: 13px; color: white; line-height: 28px; text-align: center; border-radius: 100px; background-color: black; padding: 0 10px; box-sizing: border-box;}
.settingPage .btn:hover{background-color: #ee2222;}
:is(.settingPage , .livingPage) input:is([type="text"] , [type="number"]){height: 46px;}
:is(.settingPage , .livingPage) :is(input[type="text"] , textarea){font-size: 14px; font-weight: 400;}
:is(.settingPage , .livingPage) :is(input:is([type="text"] , [type="number"]) , textarea){padding: 13px 15px; box-sizing: border-box;}
:is(.settingPage , .livingPage) input[type="number"]::-webkit-outer-spin-button,
:is(.settingPage , .livingPage) input[type="number"]::-webkit-inner-spin-button{-webkit-appearance: none;}
.settingPage input[type="radio"] + label{cursor: pointer;}

/* 프로필 */
.settingPage .profilePage section{width: 580px; display: flex; flex-wrap: wrap; gap: 30px;}
.settingPage .profilePage section .contentBox b{display: block; font-size: 12px; font-weight: 700; margin-bottom: 7px; padding-top: 5px;}
.settingPage .profilePage section .contentBox .grayBG{line-height: 28px; background-color: #eeeeee; border-radius: 100px;}
.settingPage .profilePage section .contentBox > button{position: absolute; right: 30px; top: 27px;}
.settingPage .profilePage section .profileArea{width: 100%; display: flex; flex-wrap: wrap; align-items: center; position: relative;}
.settingPage .profilePage section .profileArea :is(h3 , .messageArea){width: 100%;}
.settingPage .profilePage section .profileArea :is(.imgArea , > p){margin-bottom: 25px;}
.settingPage .profilePage section .profileArea .imgArea{width: 83px; margin-right: 15px; position: relative;}
.settingPage .profilePage section .profileArea .imgArea img{width: 100%; border-radius: 30px;}
.settingPage .profilePage section .profileArea .imgArea button{position: absolute; right: -8px; bottom: 0; width: 32px; height: 32px; background: white url('../images/icon-update.png') no-repeat center / 18px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); border-radius: 100%; text-indent: -9999px;} 
.settingPage .profilePage section .profileArea > p{font-size: 20px; font-weight: 700; line-height: 29px;}
.settingPage .profilePage section .profileArea .messageArea p{font-size: 14px; line-height: 20px;}
.settingPage .profilePage section .profileArea .popupArea > div{width: 425px;}
.settingPage .profilePage section .profileArea .popupArea > div form fieldset{text-align: left; margin-bottom: 42px;}
.settingPage .profilePage section .profileArea .popupArea > div form fieldset ul li:not(:last-child){margin-bottom: 16px;}
.settingPage .profilePage section .profileArea .popupArea > div form fieldset ul li label{display: block; margin-bottom: 5px;}
.settingPage .profilePage section .profileArea .popupArea > div form fieldset ul li :is(input , textarea){width: 100%;}
.settingPage .profilePage section .profileArea .popupArea > div form fieldset ul li textarea{height: 86px;}
.settingPage .profilePage section > :not(.profileArea){width: calc((100% - 30px) / 2);}
.settingPage .profilePage section .membershipArea div:not(:last-of-type){margin-bottom: 15px;}
.settingPage .profilePage section .membershipArea div p{font-size: 15px; margin-bottom: 5px;}
.settingPage .profilePage section .membershipArea div p strong{display: inline-block; font-size: 13px; font-weight: 700; margin-right: 5px; padding: 0 10px;}
.settingPage .profilePage section .membershipArea div p:has(strong){display: flex; align-items: center;}
.settingPage .profilePage section .membershipArea div span{display: block; font-size: 12px; color: #929292; line-height: 17px;}
.settingPage .profilePage section .membershipArea .extraArea{display: flex; flex-wrap: wrap;}
.settingPage .profilePage section .membershipArea .extraArea b{width: 100%;}
.settingPage .profilePage section .membershipArea .extraArea p{padding: 0 16px;}
.settingPage .profilePage section .membershipArea .extraArea p:not(:last-of-type){margin-right: 5px;}
.settingPage .profilePage section .balanceArea{position: relative;}
.settingPage .profilePage section .balanceArea mark{display: block; font-size: 24px; font-weight: 700; letter-spacing: -1px; padding-top: 5px;}
.settingPage .profilePage section .balanceArea mark::after{content: '개'; font-weight: 400;}

/* 알람 */
.settingPage .alramPage .contentBox{width: 460px; text-align: center;}
.settingPage .alramPage .contentBox fieldset{text-align: left; margin-bottom: 20px;}
.settingPage .alramPage .contentBox fieldset ul li:not(:last-child){margin-bottom: 15px;}

/* 돈풍선 충전 / 내역 */
.settingPage .historyPage section{width: 750px;}
.settingPage .historyPage section > div:not(:last-of-type){margin-bottom: 30px;}
.settingPage .historyPage section .moneyArea > div{display: flex; justify-content: space-between; align-items: flex-end;}
.settingPage .historyPage section .moneyArea > div mark{font-size: 36px; font-weight: 700; display: flex; align-items: center;}
.settingPage .historyPage section .moneyArea > div mark::after{content: '개'; font-size: 26px; font-weight: 400; margin-top: 5px;}
/* 돈풍선 충전 / 내역 - 게시판 공통 */
/* 기간 */
.settingPage .historyPage section > div:not(.moneyArea){position: relative;}
.settingPage .historyPage section > div:not(.moneyArea) > div:not([class]){position: absolute; right: 30px; top: 30px; display: flex; align-items: center;}
.settingPage .historyPage section > div:not(.moneyArea) > div:not([class]) input{display: none;}
.settingPage .historyPage section > div:not(.moneyArea) > div:not([class]) :is(select , label){font-size: 13px; line-height: 28px;; border: 1px solid #e9e9e9; border-radius: 5px; background-repeat: no-repeat; background-position: center right 8px; background-size: 16px;}
.settingPage .historyPage section > div:not(.moneyArea) > div:not([class]) select{width: 73px; padding: 0 12px; background-image: url('../images/icon-arrow-down.png'); margin-right: 5px;}
.settingPage .historyPage section > div:not(.moneyArea) > div:not([class]) label{width: 110px; color: #d9d9d9; padding: 0 10px; box-sizing: border-box; background-image: url('../images/icon-calendar.png');}
.settingPage .historyPage section > div:not(.moneyArea) > div:not([class]) span{font-size: 13px; color: #d9d9d9; margin: 0 5px;}
.settingPage .historyPage section > div:not(.moneyArea) > div:not([class]) button{margin-left: 10px;}
/* 돈풍선 충전 / 내역 - 게시판 공통 제목 */
[class|="board"]{font-size: 14px; }
[class|="board"] .boardTitle{background-color: #eeeeee; border-radius: 10px;}
[class|="board"] .boardTitle b{font-weight: 500;}
/* 돈풍선 충전 / 내역 - 게시판 공통 내용 */
[class|="board"] ul li{display: flex; border-bottom: 1px solid #eeeeee;}
/* 돈풍선 충전 / 내역 - 게시판 공통 제목 , 내용 공통 */
[class|="board"] :is(.boardTitle , ul li){display: flex; justify-content: space-between; align-items: center; padding: 0 5.1948%;}
[class|="board"] :is(.boardTitle , ul li) *{box-sizing: border-box;}
:is([class|="board"] .boardTitle ,[class|="board"]:not(.board-gift) ul li){height: 48px;}
/* 돈풍선 충전 / 내역 - 게시판 공통 페이저 */
.pagerArea{display: flex; justify-content: center; align-items: center; margin-top: 20px;}
.pagerArea > a{width: 20px; height: 20px; background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -9999px;} 
.pagerArea > a:nth-of-type(1){background-image: url('../images/icon-prev.png');}
.pagerArea > a:nth-of-type(2){background-image: url('../images/icon-next.png');}
.pagerArea ol{display: flex; align-items: center; margin: 0 60px;}
.pagerArea ol li a{display: block; font-weight: 700; color: #bcbcbc; line-height: 20px; padding: 0 10px;}
.pagerArea ol li:is(:hover , .active) a{color: black;}
/* 돈풍선 충전 / 내역 - 충전 내역*/
.settingPage .historyPage section .board-charge :is(.boardTitle , ul li) > *:nth-child(2n + 1){text-align: center;}
.settingPage .historyPage section .board-charge :is(.boardTitle , ul li) > *:nth-child(2n){text-align: right;}
.settingPage .historyPage section .board-charge :is(.boardTitle , ul li) > *:nth-child(1){width: 19.5%;}
.settingPage .historyPage section .board-charge :is(.boardTitle , ul li) > *:nth-child(2){width: 18%;}
.settingPage .historyPage section .board-charge :is(.boardTitle , ul li) > *:nth-child(3){width: 15%;}
.settingPage .historyPage section .board-charge :is(.boardTitle , ul li) > *:nth-child(4){width: 19%;}
.settingPage .historyPage section .board-charge ul li *:nth-child(2){color: #ee2222;}
.settingPage .historyPage section .board-charge ul li *:nth-child(2)::before{content: '+';}
.settingPage .historyPage section .board-charge ul li *:nth-child(2)::after{content: '개';}
/* 돈풍선 충전 / 내역 - 선물 내역*/
.settingPage .historyPage section .board-gift ul li{height: 65px;}
.settingPage .historyPage section .board-gift :is(.boardTitle , ul li) > *:nth-child(1){width: 19.5%; text-align: center;}
.settingPage .historyPage section .board-gift :is(.boardTitle , ul li) > *:nth-child(2){width: 18%; text-align: right;}
.settingPage .historyPage section .board-gift :is(.boardTitle , ul li) > *:nth-child(3){width: 44%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.settingPage .historyPage section .board-gift :is(.boardTitle , ul li) > *:nth-child(3) span{display: block; font-size: 12px; color: #929292; margin-top: 5px;}
.settingPage .historyPage section .board-gift ul li > *:nth-child(2){color: #2c75d4;}
.settingPage .historyPage section .board-gift ul li > *:nth-child(2)::before{content: '-';}
.settingPage .historyPage section .board-gift ul li > *:nth-child(2)::after{content: '개';}
/* 돈풍선 충전 / 내역 - 사용 내역*/
.settingPage .historyPage section .board-use :is(.boardTitle , ul li) > *{text-align: center;}
.settingPage .historyPage section .board-use :is(.boardTitle , ul li) > *:nth-child(1){width: 19.5%;}
.settingPage .historyPage section .board-use :is(.boardTitle , ul li) > *:nth-child(2){width: 5%;}
.settingPage .historyPage section .board-use :is(.boardTitle , ul li) > *:nth-child(3){width: 42%;}
.settingPage .historyPage section .board-use :is(.boardTitle , ul li) > *:nth-child(4){width: 20%;}
.settingPage .historyPage section .board-use ul li.use > *:nth-child(2n){color: #ee2222;}
.settingPage .historyPage section .board-use ul li.use > *:nth-child(4)::before{content: '+';}
.settingPage .historyPage section .board-use ul li.use > *:nth-child(4)::after{content: '개';}
.settingPage .historyPage section .board-use ul li.charge > *:nth-child(4){color: #2c75d4;}
.settingPage .historyPage section .board-use ul li.charge > *:nth-child(4)::before{content: '-';}
.settingPage .historyPage section .board-use ul li.charge > *:nth-child(4)::after{content: '개';}
/* 돈풍선 충전 / 내역 - 팝업 */
.settingPage .historyPage .popupArea > div{width: 425px;}
.settingPage .historyPage .popupArea > div form fieldset{text-align: right;}
.settingPage .historyPage .popupArea > div form fieldset ul li ol{display: flex; flex-wrap: wrap; gap: 8px; padding-bottom: 15.5px; border-bottom: 1px solid #e9e9e9; margin-bottom: 15.5px;}
.settingPage .historyPage .popupArea > div form fieldset ul li ol li{width: calc((100% - 8px) / 2);}
.settingPage .historyPage .popupArea > div form fieldset ul li ol li input[type="radio"]{display: none;}
.settingPage .historyPage .popupArea > div form fieldset ul li ol li label{display: block; line-height: 62px; padding: 0 10px; border: 1px solid #e9e9e9; border-radius: 10px;}
.settingPage .historyPage .popupArea > div form fieldset ul li ol li:not(:last-child) label{ font-size: 24px; font-weight: 700; }
.settingPage .historyPage .popupArea > div form fieldset ul li ol li:not(:last-child) label::after{content: '개'; font-size: 16px; font-weight: 400;}
.settingPage .historyPage .popupArea > div form fieldset ul li ol li label{font-weight: 400;}
.settingPage .historyPage .popupArea > div form fieldset ul li ol li input[type="radio"]:checked + label{border-color: #ee2222; background: url('../images/chekc.png') no-repeat left 12px center / 22px;}
.settingPage .historyPage .popupArea > div form fieldset ul{margin-bottom: 20px;}
.settingPage .historyPage .popupArea > div form fieldset ul > li:not(:first-child){display: flex; justify-content: space-between; align-items: center; font-weight: 400;}
.settingPage .historyPage .popupArea > div form fieldset ul > li:not(:first-child , :last-child){margin-bottom: 10px;}
.settingPage .historyPage .popupArea > div form fieldset ul > li:not(:first-child) label{font-size: 14px;}
.settingPage .historyPage .popupArea > div form fieldset ul > li input[type="number"]{width: 284px; font-size: 22px; font-weight: 700; text-align: right;}
.settingPage .historyPage .popupArea > div form fieldset ul > li input[type="number"]::placeholder{font-size: 14px; font-weight: 400; transform: translateY(-3px);}
.settingPage .historyPage .popupArea > div form fieldset ul > li mark{padding: 13px 0;}
.settingPage .historyPage .popupArea > div form fieldset ul > li button{font-size: 13px; color: #929292; text-decoration: underline;}

/* 간편 결제 정보 */
.settingPage .paymentPage section{width: 977px; position: relative;}
.settingPage .paymentPage section .slider{display: flex; gap: 16px;}
.settingPage .paymentPage section .slider li{width: 270px; height: 150px; border-radius: 20px;}
.settingPage .paymentPage section .slider li:not(:last-child){display: flex; flex-direction: column; justify-content: center; color: white; padding: 25px; box-sizing: border-box;  background-image: linear-gradient(118deg, #f51515 5%, #fc4516 50%, #f44a2f 70%, #f4582f 96%);}
.settingPage .paymentPage section .slider li:not(:last-child) p{font-size: 14px; margin-bottom: 10px;}
.settingPage .paymentPage section .slider li:not(:last-child) strong{font-size: 20px; font-weight: 500; margin-bottom: 20px;}
.settingPage .paymentPage section .slider li:not(:last-child) button{width: 48px; line-height: 28px; font-size: 13px; background-color: rgba(255, 255, 255, 0.2); border: 1px solid white; border-radius: 100px; box-sizing: border-box;}
.settingPage .paymentPage section .slider li:not(:last-child) button:hover{color: #ee2222; background-color: white; border: none;}
.settingPage .paymentPage section .slider li:last-child{border: 1px dashed #e9e9e9; overflow: hidden;}
.settingPage .paymentPage section .slider li:last-child button{width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: 14px; color: #bcbcbc; background-color: #fbfbfb;}
.settingPage .paymentPage section .slider li:last-child button::before{content: ''; width: 34px; height: 34px; background: url('../images/icon-plus.png') no-repeat center / cover; margin-bottom: 10px;}
.settingPage .paymentPage section .btnArea{position: absolute; right: 30px; top: 30px; display: flex; gap: 5px;}

/* 전문가 추가/변경 신청 */
.settingPage .expertPage section{width: 424px;}
.settingPage .expertPage section > p{line-height: 20px;}
form.expertBox fieldset ul{margin-bottom: 20px;}
form.expertBox fieldset ul li:not(:last-child){margin-bottom: 20px;}
form.expertBox fieldset ul li:first-child{display: flex; flex-wrap: wrap; gap: 0 5px;}
form.expertBox fieldset ul li:first-child input[type="radio"]{display: none;}
form.expertBox fieldset ul li:first-child input[type="radio"] + label{width: 87px; line-height: 28px; font-size: 13px; color: #929292; text-align: center; border: 1px solid #929292; border-radius: 100px; margin-bottom: 20px;}
form.expertBox fieldset ul li:first-child input[type="radio"]:checked + label{color: white; background-color: #ee2222; border: none;}
form.expertBox fieldset ul li:first-child input[type="radio"]#expertFurther:checked ~ div > label:first-child::before{content: '리딩';}
form.expertBox fieldset ul li:first-child input[type="radio"]#expertChange:checked ~ div > label:first-child::before{content: '변경';}
form.expertBox fieldset ul li:first-child > div{width: 100%;}
form.expertBox fieldset ul li :is(label , strong):first-child{display: block; font-size: 14px; font-weight: 700; margin-bottom: 10px;}
form.expertBox fieldset ul li input[type="checkbox"] + label{display: flex; margin-bottom: 10px;}
form.expertBox fieldset ul li textarea{width: 100%; height: 105px; font-size: 14px;}
form.expertBox input[type="submit"]{display: block; margin: 0 auto;}

/* 이용약관 */
.settingPage .termsPage section{width: 753px; height: 100%; display: flex; flex-direction: column; gap: 30px;}
.settingPage .termsPage section .contentBox{flex: 1; min-height: 1%; max-height: 450px; padding: 30px 0; display: flex; flex-direction: column;}
.settingPage .termsPage section .contentBox h3{padding: 0 30px;}
.settingPage .termsPage section .contentBox .scrollBox{flex: 1; padding: 0 30px; font-size: 14px; line-height: 22px;}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type] li::before{display: inline-block; margin-right: 4px;}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type="article"] > li{counter-increment: articleList;}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type="parentheses"] > li{counter-increment: parenthesesList;}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type="one"] > li{counter-increment: oneList;}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type="normal"] > li{counter-increment: normalList;}
.settingPage .termsPage section .contentBox .scrollBox.privacyPolicy > ol{margin-top: 30px;}
.settingPage .termsPage section .contentBox .scrollBox.privacyPolicy ol[data-type="article"] > li::before{content: '제' counter(articleList) '조';}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type="article"] > li:not(:last-child){margin-bottom: 30px;}
.settingPage .termsPage section .contentBox .scrollBox.privacyPolicy ol[data-type="parentheses"] > li{counter-increment: parenthesesList;}
.settingPage .termsPage section .contentBox .scrollBox.privacyPolicy ol[data-type="parentheses"] > li:not(:last-child){margin-bottom: 30px;}
.settingPage .termsPage section .contentBox .scrollBox.privacyPolicy ol[data-type="parentheses"] > li::before{content: '(' counter(parenthesesList) ')';}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type="one"] > li::before{content: counter(oneList); font-size: 0.5em; width: 1.7em; line-height: 1.7em; text-align: center; border: 1px solid rgba(0, 0, 0, 0.5); border-radius: 100%;}
.settingPage .termsPage section .contentBox .scrollBox ol[data-type="normal"] > li::before{content: counter(normalList) '.'; }
.settingPage .termsPage section .contentBox .scrollBox.privacyPolicy ul{padding: 0;}
.settingPage .termsPage section .contentBox .scrollBox.privacyPolicy ul li::before{content: '-';}
.settingPage .termsPage section .contentBox .scrollBox.termsOfService ol[data-type="article"] > li::before{display: block; content: '제' counter(articleList) '조(' attr(title) ')';}

/* 쿠폰 내역 */
.settingPage .couponPage section{width: 627px;}
.settingPage .couponPage section .board-coupon :is(.boardTitle , ul li) > *:not(button){text-align: center;}
.settingPage .couponPage section .board-coupon :is(.boardTitle , ul li) > *:nth-child(1){width: 22%;}
.settingPage .couponPage section .board-coupon :is(.boardTitle , ul li) > *:nth-child(2){width: 14%;}
.settingPage .couponPage section .board-coupon :is(.boardTitle , ul li) > *:nth-child(3){width: 31%;}
.settingPage .couponPage section .board-coupon ul li.unavailable > p:nth-child(2){color: #ee2222;}

/* 로그인 설정 */
.settingPage .loginPage form{width: 460px;}
.settingPage .loginPage form{text-align: center;}
.settingPage .loginPage form fieldset{text-align: left;}
.settingPage .loginPage form fieldset ul{margin-bottom: 20px;}
.settingPage .loginPage form fieldset > ul > li:not(:last-child){margin-bottom: 20px;}
.settingPage .loginPage form fieldset > ul > li > p{font-size: 13px; color: #929292; line-height: 18px; margin-top: 5px;}
.settingPage .loginPage form fieldset > ul > li:nth-child(2){display: flex; justify-content: space-between; align-items: center;}
.settingPage .loginPage form fieldset > ul > li:nth-child(2) > b{font-size: 15px; font-weight: 500;}
.settingPage .loginPage form fieldset > ul > li:nth-child(2) > button{width: 56px; line-height: 28px; font-size: 14px; font-weight: 500; background-color: #eeeeee; border-radius: 100px;}
.settingPage .loginPage form fieldset > ul > li .popupArea div{width: 424px; box-sizing: border-box;}
.settingPage .loginPage form fieldset > ul > li .popupArea div ul{text-align: left;}
.settingPage .loginPage form fieldset > ul > li .popupArea div ul li:not(:last-child){margin-bottom: 16px;}
.settingPage .loginPage form fieldset > ul > li .popupArea div ul li label{display: block; margin-bottom: 5px;}
.settingPage .loginPage form fieldset > ul > li .popupArea div ul li input{width: 100%;}

